{% extends 'base.html.twig' %}

{% block title %}Accueil - M&S Multi-Services{% endblock %}

{% block content %}
        <div>
                <h3 class="text-center mt-5 mb-5">Qui sommes nous?</h3>
                <p>
                M&S Multi-Services vous propose d'intervenir 7 jours sur 7 sur Montpellier et ses alentours pour tous vos travaux de dépannages en lien avec la plomberie, sanitaire et la petite électricité.<br>
                Mais également pour tous vos projets de création de terrasse, pergolas, cuisine d'été, cabanon, etc...<br>
                M&S Multi-Services est en mesure de procéder à divers aménagements intérieurs ou extérieurs pour votre maison ou appartement.<br>
                Mais avant tout, M&S Multi-Services c'est une petite entreprise à echelle humaine qui vous propose d'apporter une réponse rapide et sans filtre à toutes vos demandes. Car c'est important pour nous que vous puissiez faire appel à quelqu'un de confiance lorsque vous êtes dans le besoin.
                </p>
        </div>
{% endblock %}
