{% extends 'base.html.twig' %}

{% block title %}Prestations - M&S Multi-Services{% endblock %}

{% block content %}
    <h3 class="text-center mt-5 mb-5 prestaTitle">Prestations</h3>

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card prestaCard">
                    <div class="card-body">
                        <h5 class="card-title">Réalisations bois</h5>
                        <p class="card-text">
                            <ul>
                                <li>Pergola, Carport, Guinguette</li>
                                <li>Clôture, Palissade</li>
                                <li>Cuisine d'été, Terrasse</li>
                                <li>Cache climatisation, etc...</li>
                            </ul>
                        </p>                      
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ml-md-5 prestaCard">
                    <div class="card-body">
                        <h5 class="card-title">Electricité</h5>
                        <p class="card-text">
                            <ul>
                                <li>Réparation et déplacement prises électriques et luminaires</li>
                                <li>Petit dépannage général</li>
                                <li>Pose d'antenne TV et parabole</li>
                                <li>Installation électroménager</li>
                            </ul>
                        </p>                      
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card prestaCard">
                    <div class="card-body">
                        <h5 class="card-title">Plomberie / Sanitaires</h5>
                        <p class="card-text">
                            <ul>
                                <li>Installation adoucisseur d’eau, chauffe-eau, cumulus électrique</li>
                                <li>Pose et/ou dépose WC</li>
                                <li>Robinetterie</li>
                                <li>Réparation fuite, débouchage canalisations</li>
                            </ul>
                        </p>                      
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card ml-md-5  prestaCard">
                    <div class="card-body">
                        <h5 class="card-title">Bricolage général</h5>
                        <p class="card-text">
                            <ul>
                                <li>Pose étagères, rideaux, cuisines, parquet flottant, peinture extérieure, intérieure, lasure, réparations en tout genre…</li>
                            </ul>
                        </p>                      
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}



  

  