<!-- {% extends 'base.html.twig' %}

{% block title %}Hello RegisterController!{% endblock %}

{% block content %}
    <div class="container">
        <h3 class="mt-3 mb-3 text-center">Inscription</h3>

        {{ form(form) }}
    </div>
{% endblock %} -->
